// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

$chapter-colors: (
  embed-sustainability-into-your-rituals: #E2FCF3,
  use-your-influence: #EBFDE3,
  design-frugally: #DAD6F8,
  discover-mindfully: #F7FEC3,
  build-sustainable-ai-products: #F7FEC3,
  become-carbon-aware: #D0D081,
);

@mixin chapter-background($chapter-name) {
  background-color: map-get($chapter-colors, $chapter-name);
}


body {
  background-color: #FCFFE7;

  @each $chapter, $color in $chapter-colors {
    &.#{$chapter} {
      background-color: $color;
    }
  }
}


.arrow-link {
margin-left: 12px;
    display: flex;
        /* CIRCLE SIZE */
        width: 24px;
        height: 24px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
  @each $chapter, $color in $chapter-colors {
    &.#{$chapter} {
      background-color: $color;
    }
  }
}




    .arrow-link>img {
        background-repeat: no-repeat;
        /* IMAGE SIZE */
        width: 12px;
        height: 12px;
        aspect-ratio: 1 / 1
    }


.chapter-title {
padding: 8px 16px;
border-radius: 800px;
  background-color: #FCFFE7;
  @each $chapter, $color in $chapter-colors {
    &.#{$chapter} {
      background-color: $color;
    }
  }
}

h1, .site-header, .chapter-title, .page-number { font-family: $title-font-family;  }


h1, .page-number  {font-size: var(--step-5); line-height: 100%; text-wrap: balance;font-weight:700; margin:0 0 2rem 0}


.wrapper, .site-header { border-bottom: none; }
.wrapper { max-width: calc(60rem - 2rem * 2); }

.hero {
  font-size: 3em;
  font-weight: bold;
  max-width: 600px;
  text-align: left;
  line-height: 1em;
}

.home img { margin-top: 2em; }

.playbook-topRow img { margin: 0; }
.playbook-topRow h3 { text-transform: uppercase; font-size: 2em; line-height: 1em; }
a.playbook-anchor { text-decoration: none; color: black; }
a.playbook-anchor:hover { text-decoration: none; color: black; }
#playbook-contents { 
  list-style: none;
  margin-left: 0;
  display:flex;
  gap: 8svh;
  flex-direction: column;
  margin: 2em 0 2em 0;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 12px;
  
  .title { }
  
  .number {
    font-weight: bold;
    width: 40px;
    display: inline-block;
  }
  
  h3 { 
  margin-bottom:0;
  line-height: 1;
  font-size: var(--step-1);
  letter-spacing:-.015rem;
  margin-left: -12px;
  text-wrap: pretty }

  ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.1;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -.5px;
    margin:0;

  }
  li{
  display:inline;
  }
}







.playbook-row h2 {text-transform: uppercase; font-size: var(--step-0);  letter-spacing: -.5px;  text-wrap:balance; line-height: 130%; }

.title-casestudy h2{text-decoration: none; font-size: var(--step-0);  letter-spacing: -.5px; margin-bottom: 1rem; line-height: 130%; text-wrap:balance;     max-width: 90%; }
.title-casestudy {text-decoration: none;display: flex;
    align-items: flex-start;
    gap: 0.25rem;}

.title-casestudy > .arrow-link {margin-top: 2px; margin-left: 0 !important}

.wrapper-casestudies{column-count: 2;gap: 4rem; margin: 4rem 0}
.wrapper-testimonials {
  column-count: 3; gap: 1rem;
  .testimonial {
    display: block;
    margin-bottom: 2em;
    background-color: #BEF9A2;
    min-height: 23rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    p { margin-top: 1rem; font-style: italic; }
  }
}

@media screen and (max-width: $on-medium) {
  .wrapper-casestudies{column-count: 1;}
  .wrapper-testimonials{
    column-count: 1;
    .testimonial {
      min-height: 0;
    }
  }
}


.grid-chapters > div:first-child{
 grid-column: span 2; 
}

.best-practice { margin-top: 2em; display: block; width: 100%;}

.playbook-nav {
  margin: 8rem 0;

  display: block;
  width: 100%;
  height: 3em;
   font-weight:700;
  
  a { width: 40%;  text-decoration: none}
  &-title {
    width: 100%;
    display: block;
    font-size: 1rem;
    text-wrap: balance;
      font-weight:400;
   
  }
  &-prev {
    float: left;
    display: inline;
  }
  &-next {
    float: right;
    display: inline;
    text-align: right;
  }
}


.breadcrumbs ul,
.breadcrumbs ul li a{
  display: flex;
}

.breadcrumbs ul{
  height: 100%;
  align-items: left;
  justify-content: left;
  list-style-type: none;
  font-size:12px;
  text-align:left;
}

.breadcrumbs ul li{
  margin-right: 30px;
  position: relative;
}

.wrapper ul li:before{
  content: ">";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  
}

.wrapper ul li:last-child:before{
  display: none;
}




div.bigquote {
  font-size: var(--step-3);
  text-align: left;
  line-height: 120%;
  font-family: $title-font-family;
  margin-top: 4rem;
 
  text-wrap: balance;
  display: flex;
  width:100%;

}


.div.bigquote > highlight {width:100%}

div.bigquote + p{
  
  text-align: left !important;

  margin-top: 1rem

}



.icon{
  height: 28px;
  aspect-ratio: 1 / 1;
  margin-right: 8px

}


.icon-chapter{
  
  width: 250px;
  margin-bottom: 32px;

  
}


.icon-best-practice{
  
  width: 100px;
  margin-bottom: 0;

  
}

.chapter-headings{
  

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:16px;
}

.best-practice-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 
}

.title{
  
  text-wrap: balance;
  width: 100%;
}

.playbook-img{
  
  
  width:100%;
}




@media screen and (min-width: $on-medium) {
.post-title{
  
  font-size: 6rem;
  font-weight: 600;
  margin: 2rem 0;
}
}



.chapter-title.context, .chapter-title.conclusion-and-glossary{border: 1.5px solid black; margin-top:-8px}






.playbook-header{
  
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}



@media screen and (min-width: $on-medium) {
.playbook-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap:5%;
  margin-top:15svh;
  margin-bottom:6svh;
  border-bottom: 4px solid black;
  padding-bottom: 64px;
} } 




.playbook-intro p{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-wrap: balance;
    letter-spacing: -.5px;
     margin:0;
     opacity: 1
}

.about-us-photo p{

  opacity: 1
}


.foreword > h1{margin-bottom: 2rem}

.foreword > p{text-wrap: pretty}

.intro-chapter { font-size: 1.2rem; }

#playbook-contents .intro-chapter { font-size: 1rem; }

ul.chapter-nav { 
  list-style: none;
  margin: 0;
  font-size: 1.2rem;
  li {
    padding: 10px 0;
  }
}
