---
layout: base
---
<!-- <a href="/playbook/" style="display:block;text-align: center;">PLAYBOOK CONTENTS</a> -->

{% if page.matter %}
<article class="best-practice">

  <div id="{{ page.number }}" class="playbook-heading">
     <div class="playbook-section">{{ page.section }}</div>
    <div class="playbook-iconAndTitle">
       
   
      <h1>{{ page.number }}. {{ page.title | escape }}</h1>
      <img src="{{ page.icon | prepend: site.baseurl }}" alt="{{ page.title }}" class="icon-best-practice"/>
    </div>
  </div>

  
  <div class="playbook-row">
    <div class="playbook-column1">
     
      <h2>Why does it matter?</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.matter | markdownify }}</div>
    </div>
  </div>
 
  <div class="playbook-row">
    <div class="playbook-column1">
         
      <h2>What can I do?</h2>
    </div>
    <div class="playbook-column2">
      <div class="checkmark-list">{{ page.do | markdownify }}</div>
    </div>
  </div>
  
  <div class="playbook-row">
    <div class="playbook-column1">

      <h2>What does success look like?</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.success | markdownify }}</div>
    </div>
  </div>

  <div class="playbook-row">
    <div class="playbook-column1">
      <h2>Things to consider</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.consider | markdownify }}</div>
    </div>
  </div>

</article>
{% endif %}

{{ content }}

{%- include playbook-nav.html -%}