---
layout: base
---
<!-- <a href="/playbook/" style="display:block;text-align: center;">PLAYBOOK CONTENTS</a> -->

{% if page.matter %}
<article class="best-practice">

  <div id="{{ page.number }}" class="playbook-heading">
     <div class="playbook-section">{{ page.section }}</div>
    <div class="playbook-iconAndTitle">
       
   
      <h1>{{ page.number }}. {{ page.title | escape }}</h1>
      <img src="{{ page.icon | prepend: site.baseurl }}" alt="{{ page.title }}" class="icon-best-practice"/>
    </div>
  </div>

  
  <div class="playbook-row">
    <div class="playbook-column1">
     
      <h2>Why does it matter?</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.matter | markdownify }}</div>
    </div>
  </div>
 
  <div class="playbook-row">
    <div class="playbook-column1">
         
      <h2>What can I do?</h2>
    </div>
    <div class="playbook-column2">
      <div class="checkmark-list">{{ page.do | markdownify }}</div>
    </div>
  </div>
  
  <div class="playbook-row">
    <div class="playbook-column1">

      <h2>What does success look like?</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.success | markdownify }}</div>
    </div>
  </div>

  <div class="playbook-row">
    <div class="playbook-column1">
      <h2>Things to consider</h2>
    </div>
    <div class="playbook-column2">
      <div>{{ page.consider | markdownify }}</div>
    </div>
  </div>

</article>
{% endif %}

{{ content }}

{% if page.chapter-page %}
  {% assign practices = site.playbook | sort: "order" %}
  {% assign chapter_pages = practices | where: "section", page.section %}
  {% assign chapter_slug = page.title | downcase | replace: ' ', '-' | remove: "'\"" %}

  <h3 style="margin: 4rem 0 0 0;">In This Chapter</h3>

  <ul id="{{ page.chapter-tag }}" class="chapter-nav">
    {%- for practice in chapter_pages -%}
      <li>
        <a href="{{ practice.slug }}" class="best-practice-link">
          {% if forloop.first and practice.title != page.title %}
            <span class="title">{{ practice.title | escape }}</span>
            <div class="arrow-link {{ chapter_slug }}">
              <img src="/assets/img/arrow-link.svg" alt="arrow-link" />
            </div>
          {% elsif forloop.first and practice.title == page.title %}
            <!-- Skip rendering for the first item if the title matches the chapter -->
          {% else %}
            {% if practice.icon %}
              <img src="{{ practice.icon | prepend: site.baseurl }}" alt="{{ practice.title }}" class="icon" />
            {% endif %}
            <div class="title">
              {% if practice.number %}
                {{ practice.number | escape }}.
              {% endif %}
              {{ practice.title | escape }}
            </div>
          {% endif %}
        </a>
      </li>
    {%- endfor -%}
  </ul>

{% endif %}

{%- include playbook-nav.html -%}