---
layout: base
---
<header class="post-header">
  <h1 class="post-title">Case Studies</h1>
</header>

{{ content }}



<div class="wrapper-casestudies">

{% assign studies = site.playbook | where: 'case-study', true %}

    {%- for study in studies -%}

      <a href="/playbook/{{ study.slug }}" class="title-casestudy">
       <div class="arrow-link {{ chapter_slug }}"><img src="/assets/img/arrow-link.svg" alt="arrow-link"  /></div> <h2>{{ study.title | replace: "Case Study: ", "" | escape }}</h2>
      </a>
    {%- endfor -%}
</div>

<h2>Have an inspiring story to share?</h2>
<p>We would love to continue showcasing more and more case studies. To contact our team, please send us an email to hey@climateproductleaders.org</p>