---
layout: base
---
{% assign practices = site.playbook | sort: "order" %}

<header class="post-header">
  <h1 class="post-title" style="font-size:4em"><span class="highlight">Sustainable by Design</span>: <br />A Playbook for Product Managers</h1>
</header>

{{ content }}

{% assign: chapters = practices | map: "section" | uniq %}


<ul id="playbook-contents">
  {%- for chapter in chapters -%}
    {% assign chapter_pages = practices | where: "section", chapter %}
    <h3>{{ chapter }}</h3>
    {%- for practice in chapter_pages -%}
      <li><a href="{{ practice.slug }}">
        {% if practice.number %}<span class="number">{{ practice.number }}</span>{% endif %}
        <span class="title">{{ practice.title | escape }}</span>
      </a></li>
    {%- endfor -%}
  {%- endfor -%}
</ul>
