---
layout: base
---
{% assign practices = site.playbook %}

<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<ul id="playbook-contents">
  <li><a href="#introduction">Introduction</a></li>
  {%- for practice in practices -%}
    <li><a href="#{{ practice.number }}">{{ practice.number }} - {{ practice.title | escape }}</a></li>
  {%- endfor -%}
</ul>

<rel id="introduction" />
{{ content }}

<div class="wrapper">
  {%- for practice in practices -%}
  <a href="#{{practice.number }}">
    <div id="{{practice.number }}" class="playbook-topRow">
      <div class="playbook-column1">
        <h5 class="playbook-section">{{ practice.section }}</h5>
        <h3>{{practice.number }}</h3>
      </div>
      <div class="playbook-column2 playbook-iconAndTitle">
        <img src="{{ practice.icon | prepend: site.baseurl }}" alt="{{ playbook.title }}" />
        <h3>{{ practice.title | escape }}
      </div>
    </div>
  </a>
  <hr class="playbook-hr" />
  <div class="playbook-row">
    <div class="playbook-column1">
      <h3>Why does it matter?</h3>
    </div>
    <div class="playbook-column2">
      <div>{{ practice.matter | markdownify }}</div>
    </div>
  </div>
  <div class="playbook-row">
    <div class="playbook-column1">
      <h3>What can I do?</h3>
    </div>
    <div class="playbook-column2">
      <div>{{ practice.do | markdownify }}</div>
    </div>
  </div>
  <div class="playbook-row">
    <div class="playbook-column1">
      <h3>What does success look like?</h3>
    </div>
    <div class="playbook-column2">
      <div>{{ practice.success | markdownify }}</div>
    </div>
  </div>
  <div class="playbook-row">
    <div class="playbook-column1">
      <h3>Things to consider</h3>
    </div>
    <div class="playbook-column2">
      <div>{{ practice.consider | markdownify }}</div>
    </div>
  </div>

  {%- endfor -%}
</div>